# Pour Points Subset

The goal of this notebook is to subset some pour points to see if we can get grass working

Cascade Tuholske 2020.01.17

In [2]:
DATA_OUT = '/Users/cascade/Github/wastewater_ohi/scratch/cascade/pour_points_test/'
FN_OUT = 'pour_points_test.shp'

DATA_IN = '/Users/cascade/Github/wastewater_ohi/pilot_data/intermediate_files/'
FN_IN = 'pour_points_1.shp'

In [3]:
import pandas as pd
import geopandas as gpd

In [4]:
data_in = gpd.read_file(DATA_IN+FN_IN)

In [5]:
data_in.head()

,basin_id,effluent,count,area,geometry
0,au_09801,0.322460,24.0,15.699186,POINT (146.8219651444376 -43.60949863547439)
1,au_09800,0.639000,97.0,59.491653,POINT (146.7864204720527 -43.59475206279834)
2,au_09799,0.013952,32.0,19.004278,POINT (146.6760535297358 -43.5929654521181)
3,au_09802,8.462283,50.0,32.224645,POINT (146.8939241562096 -43.5797443764525)
4,au_09796,0.018312,42.0,26.440735,POINT (146.6514452448183 -43.57753726756984)

In [4]:
data_out = data_in.loc[:200]

In [5]:
data_out.to_file(DATA_OUT+FN_OUT)

In [6]:
len(data_out)

201